@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../../fonts/SF-Pro-Display-Bold.woff2") format("woff2"), url("../../fonts/SF-Pro-Display-Bold.woff") format("woff");
}
@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../../fonts/SF-Pro-Display-Regular.woff") format("woff");
}
@font-face {
  font-family: "Space Age";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/spaceagecyrillic-regular.woff") format("woff"), url("../../fonts/spaceagecyrillic-regular.woff2") format("woff2");
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 620px) {
  .container {
    padding: 0 15px;
  }
}

body {
  font-family: "SF Pro", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.title {
  font-family: "Space Age", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: inherit;
  padding: 80px 0;
  font-weight: 400;
}
@media (max-width: 1170px) {
  .title {
    text-align: center;
  }
}
@media (max-width: 960px) {
  .title {
    padding: 30px 0 50px 0;
  }
}
@media (max-width: 620px) {
  .title {
    font-size: 32px;
    line-height: 25px;
    padding: 20px 0 30px 0;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 25px;
    line-height: 20px;
    padding: 20px 0;
  }
}

.button {
  text-align: center;
  text-transform: uppercase;
  font-family: "SF Pro", sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: inherit;
  font-size: 18px;
  padding: 20px 45px;
  cursor: pointer;
  border: solid 1px #fff;
  border-radius: 100px 20px 100px 20px;
  -webkit-box-shadow: 1px 2px 4px #626262;
          box-shadow: 1px 2px 4px #626262;
  background: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 420px) {
  .button {
    padding: 15px 20px;
  }
}
.button:hover {
  border-radius: 20px 100px 20px 100px;
  -webkit-box-shadow: 3px 4px 4px #363636;
          box-shadow: 3px 4px 4px #363636;
}

.header {
  background-image: url("../../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  overflow: hidden;
}
@media (max-width: 960px) {
  .header {
    background-position: center right;
  }
}
@media (max-width: 420px) {
  .header {
    padding-top: 10px;
  }
}
.header__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media (max-width: 960px) {
  .header__top {
    padding: 0 10px;
  }
}
.header__logo {
  font-family: "Space Age", sans-serif;
  font-size: 40px;
  padding-bottom: 15px;
}
@media (max-width: 1170px) {
  .header__logo {
    font-size: 35px;
  }
}
@media (max-width: 620px) {
  .header__logo {
    font-size: 18px;
  }
}
.header__logo:hover {
  background: -webkit-linear-gradient(#eee, #0e0e0e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__logo a {
  color: inherit;
}
@media (max-width: 960px) {
  .header__menu {
    display: none;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list li + li {
  margin-left: 15px;
}
.header__link {
  text-transform: uppercase;
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1170px) {
  .header__link {
    font-size: 15px;
  }
}
.header__link:hover {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__phone {
  color: inherit;
}
@media (max-width: 960px) {
  .header__phone {
    font-size: 22px;
  }
}
@media (max-width: 960px) {
  .header__phone_disabled {
    display: none;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__login {
  background: transparent;
}
@media (max-width: 960px) {
  .header__login {
    float: right;
  }
}
.header__login:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.header__login .login__img {
  width: 65px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
@media (max-width: 620px) {
  .header__login .login__img {
    width: 45px;
  }
}
@media (max-width: 420px) {
  .header__login .login__img {
    width: 35px;
  }
}
@media (max-width: 780px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.header__title {
  font-family: "Space Age", sans-serif;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 10px;
  padding: 10px;
}
@media (max-width: 780px) {
  .header__title {
    line-height: 45px;
    font-size: 55px;
  }
}
@media (max-width: 620px) {
  .header__title {
    line-height: 25px;
    font-size: 40px;
  }
}
@media (max-width: 420px) {
  .header__title {
    line-height: 20px;
    font-size: 30px;
  }
}
.header__title span {
  font-size: 110px;
}
@media (max-width: 780px) {
  .header__title span {
    line-height: 45px;
    font-size: 55px;
  }
}
@media (max-width: 620px) {
  .header__title span {
    line-height: 25px;
    font-size: 45px;
  }
}
@media (max-width: 420px) {
  .header__title span {
    line-height: 20px;
    font-size: 30px;
  }
}
.header__subtitle {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  line-height: 29px;
}
@media (max-width: 780px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 620px) {
  .header__subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 15px;
  }
}
.header__subtitle p + p {
  margin-left: 35px;
}
@media (max-width: 780px) {
  .header__subtitle p + p {
    margin-left: 15px;
  }
}
@media (max-width: 620px) {
  .header__subtitle p + p {
    margin-left: 0;
  }
}
.header__btn {
  text-transform: uppercase;
  font-family: "SF Pro", sans-serif;
  font-weight: 400;
  line-height: 29px;
  color: inherit;
  font-size: 24px;
  padding: 15px 130px;
  cursor: pointer;
  border: solid 2px #fff;
  border-radius: 100px 20px 100px 20px;
  -webkit-box-shadow: 1px 2px 4px #626262;
          box-shadow: 1px 2px 4px #626262;
  background: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
@media (max-width: 780px) {
  .header__btn {
    padding: 15px 50px;
  }
}
@media (max-width: 620px) {
  .header__btn {
    padding: 15px 30px;
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  .header__btn {
    padding: 10px 20px;
    font-size: 15px;
  }
}
.header__btn:hover {
  border-radius: 20px 100px 20px 100px;
  -webkit-box-shadow: 3px 4px 4px #363636;
          box-shadow: 3px 4px 4px #363636;
}
.header__btn::before {
  position: absolute;
  content: "";
  top: -57px;
  right: 25px;
  background-image: url("../../images/run.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 420px) {
  .header__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
  }
}
.header__description-text {
  font-size: 14px;
  line-height: 17px;
  width: 165px;
}
@media (max-width: 420px) {
  .header__description-text {
    text-align: center;
    width: 80%;
  }
}
@media (max-width: 420px) {
  .header__description-text + .header__description-text {
    margin-top: 20px;
  }
}

.mobile-menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  margin-left: 20px;
}
@media (max-width: 960px) {
  .mobile-menu-btn {
    display: block;
  }
}

.mobile-menu {
  z-index: 1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  top: 70px;
  right: 0;
  position: absolute;
  padding: 20px 10px 50px 0;
  height: 60vh;
  width: 100%;
  opacity: 0.99;
  background-image: url("../../images/map-bg.jpg");
  display: none;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px 20px 100px 20px;
}
.mobile-menu_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-menu__list {
  margin-bottom: 30px;
}
.mobile-menu li {
  margin-bottom: 20px;
}
.mobile-menu__link {
  font-size: 30px;
}
.mobile-menu-img {
  height: 25px;
}

.about {
  background-image: url("../../images/about_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__img {
  max-width: 100%;
  border-radius: 100px 20px 100px 20px;
}
@media (max-width: 1170px) {
  .about__img {
    margin-bottom: 30px;
  }
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 80px;
}
@media (max-width: 1170px) {
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .about__item {
    padding-bottom: 50px;
  }
}
@media (max-width: 1170px) {
  .about__item .column-reverse-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 1170px) {
  .about__item .column-reverse-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.about__content {
  width: 600px;
}
@media (max-width: 780px) {
  .about__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about__content-title {
  font-family: "SF Pro", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: inherit;
  line-height: 35px;
  margin-bottom: 5px;
}
.about__content-subtitle {
  font-family: "SF Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #036CCA;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  font-weight: 400;
  margin-bottom: 50px;
}
@media (max-width: 780px) {
  .about__content-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}
.about__content-text p {
  width: 160px;
}
@media (max-width: 780px) {
  .about__content-text p {
    width: 90%;
    margin-bottom: 10px;
  }
}
.about__table {
  margin-bottom: 50px;
}
@media (max-width: 780px) {
  .about__table {
    margin-bottom: 30px;
  }
}
.about__table-caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
}
.about__table-tr {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}
.about__table-tr + .about__table-tr {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 620px) {
  .about__table-tr + .about__table-tr {
    font-size: 25px;
    line-height: 35px;
  }
}
.about__table-td {
  padding: 10px 30px 10px 0;
}
@media (max-width: 620px) {
  .about__table-td {
    padding: 10px 20px 10px 0;
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .about__table-td {
    padding: 5px 10px 5px 0;
  }
}
.about__table-td span {
  font-size: 14px;
  line-height: 17px;
  display: block;
}

@media (max-width: 620px) {
  .vert {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
  }
}

.map {
  background-image: url("../../../images/map-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 80px;
}
.map__list {
  display: none;
  margin-left: 30px;
  font-size: 20px;
}
@media (max-width: 960px) {
  .map__list {
    display: block;
  }
}
.map__list-item {
  padding: 20px 0 15px 30px;
  border-left: 1px solid #fff;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.map__list-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  top: 20px;
  left: -10px;
}
.map__list-item:hover::before {
  background-color: #036CCA;
}
.map__list-item:hover {
  color: #036CCA;
}
@media (max-width: 960px) {
  .map svg {
    display: none;
  }
}
.map__content {
  text-align: center;
}
.map__content circle,
.map__content text,
.map__content foreignObject {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.map__content text {
  font-size: 18px;
}
.map__content g:hover circle {
  r: 20px;
  fill: #036CCA;
}
.map__content g:hover text {
  fill: #036CCA;
  font-size: 36px;
}
.map__content foreignObject {
  text-align: left;
}
.map__content foreignObject:hover {
  color: #036CCA;
  font-size: 22px;
}

.book {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/book-bg.jpg");
  background-position: top center;
  min-height: 100vh;
}
@media (max-width: 1440px) {
  .book {
    background-position: center left;
  }
}
.book__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 780px) {
  .book__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.book__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1170px) {
  .book__text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.book__text {
  width: 165px;
  font-size: 14px;
  line-height: 17px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: 52px;
}
@media (max-width: 1170px) {
  .book__text {
    width: 70%;
    margin: 50px auto 20px auto;
  }
}
@media (max-width: 780px) {
  .book__text {
    margin: 20px auto;
  }
}
.book__text + .book__text {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 1170px) {
  .book__text + .book__text {
    margin: 10px auto;
  }
}

.info {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/special-offer-bg.jpg");
  background-position: top center;
  padding-bottom: 80px;
}
@media (max-width: 960px) {
  .info {
    padding-bottom: 50px;
  }
}
@media (max-width: 620px) {
  .info {
    padding-bottom: 30px;
  }
}

.special-offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 960px) {
  .special-offer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.special-offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 960px) {
  .special-offer__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 70px;
  }
}
@media (max-width: 780px) {
  .special-offer__item {
    margin-bottom: 50px;
  }
}
@media (max-width: 620px) {
  .special-offer__item {
    margin-bottom: 30px;
  }
}
.special-offer__item .button {
  width: 100%;
}
.special-offer__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 100px 20px 100px 20px;
  margin-bottom: 25px;
  padding: 40px 100px;
  text-align: center;
  min-height: 400px;
}
@media (max-width: 960px) {
  .special-offer__item-box {
    min-height: 100px;
    padding: 40px;
    margin: 30px auto;
  }
}
.special-offer__item-text {
  color: inherit;
  font-family: "SF Pro", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  padding-bottom: 100px;
  width: 336px;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .special-offer__item-text {
    width: 256px;
  }
}
@media (max-width: 960px) {
  .special-offer__item-text {
    width: 500px;
    padding-bottom: 50px;
  }
}
@media (max-width: 780px) {
  .special-offer__item-text {
    width: 300px;
  }
}
@media (max-width: 420px) {
  .special-offer__item-text {
    width: 100%;
  }
}
.special-offer__item-text span {
  color: #860606;
}
.special-offer__oldprice {
  font-size: 14px;
  text-align: right;
  margin-bottom: 16px;
  position: relative;
}
.special-offer__oldprice::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 1px;
  background-color: #860606;
  top: 7px;
  right: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
.special-offer__newprice {
  color: inherit;
  font-size: 48px;
  line-height: 57px;
}
@media (max-width: 420px) {
  .special-offer__newprice {
    font-size: 40px;
    line-height: 30px;
  }
}

.add-services {
  margin-bottom: 100px;
}
.add-services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1170px) {
  .add-services__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.add-services__-box-list {
  width: 620px;
  margin-right: 80px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.add-services__list {
  padding-left: 30px;
}
.add-services__list-title {
  margin-bottom: 25px;
  font-size: 25px;
}
@media (max-width: 1170px) {
  .add-services__list-title {
    text-align: center;
  }
}
.add-services__list-item {
  margin-bottom: 10px;
  position: relative;
  font-size: 20px;
}
@media (max-width: 620px) {
  .add-services__list-item {
    font-size: 18px;
  }
}
.add-services__list-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  left: -30px;
  top: 0;
}
.add-services__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1170px) {
  .add-services__buttons {
    margin-top: 30px;
  }
}
.add-services__buttons .button + .button {
  margin-top: 50px;
}
@media (max-width: 420px) {
  .add-services__buttons .button + .button {
    margin-top: 30px;
  }
}
.add-services__buttons .first {
  position: relative;
}
@media (max-width: 620px) {
  .add-services__buttons .first {
    font-size: 16px;
  }
}
.add-services__buttons .first::before {
  position: absolute;
  content: "";
  right: 20px;
  bottom: -12px;
  background-image: url("../../images/login.png");
  background-size: 40%;
  background-repeat: no-repeat;
  width: 192px;
  height: 150px;
}
@media (max-width: 1170px) {
  .add-services__buttons .first::before {
    right: 205px;
    bottom: -20px;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@media (max-width: 620px) {
  .add-services__buttons .first::before {
    display: none;
  }
}
.add-services__description {
  margin-top: 25px;
  font-size: 12px;
  line-height: 14px;
}
@media (max-width: 960px) {
  .add-services__description {
    text-align: center;
  }
}

.slider {
  text-align: center;
}
.slider__inner {
  margin-bottom: 50px;
  border: 1px solid #fff;
  border-radius: 100px 20px 100px 20px;
  padding: 100px 0;
}
@media (max-width: 1170px) {
  .slider__inner {
    margin: 0 10px;
  }
}
@media (max-width: 960px) {
  .slider__inner {
    padding: 50px 0;
  }
}
@media (max-width: 780px) {
  .slider__inner {
    padding: 30px 0;
  }
}
.slider__content-img {
  margin: 0 auto;
  width: 80%;
  height: auto;
}
.slider__description {
  font-family: "Space Age", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
@media (max-width: 780px) {
  .slider__description {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 420px) {
  .slider__description {
    font-size: 15px;
    line-height: 15px;
  }
}
.slider__arrow {
  width: 80px;
  height: 80px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 5;
}
@media (max-width: 960px) {
  .slider__arrow {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 780px) {
  .slider__arrow {
    width: 50px;
    height: 50px;
  }
}
.slider__arrow-left {
  -webkit-transform: rotate(226deg);
          transform: rotate(226deg);
  left: 35px;
}
@media (max-width: 620px) {
  .slider__arrow-left {
    left: 15px;
  }
}
.slider__arrow-right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 35px;
}
@media (max-width: 620px) {
  .slider__arrow-right {
    right: 15px;
  }
}

.contacts {
  background-color: #010203;
  padding-bottom: 80px;
}
@media (max-width: 780px) {
  .contacts {
    padding-bottom: 50px;
  }
}
@media (max-width: 420px) {
  .contacts {
    padding-bottom: 30px;
  }
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1170px) {
  .contacts__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.contacts__title {
  padding-bottom: 50px;
}
.contacts__content {
  width: 500px;
}
@media (max-width: 1170px) {
  .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 620px) {
  .contacts__content {
    width: 100%;
  }
}
.contacts__content-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 80px;
}
@media (max-width: 780px) {
  .contacts__content-text {
    margin-bottom: 50px;
  }
}
@media (max-width: 620px) {
  .contacts__content-text {
    margin-bottom: 10px;
    font-size: 20px;
    width: 300px;
  }
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__form .button {
  margin-top: 70px;
}
@media (max-width: 780px) {
  .contacts__form .button {
    margin-top: 30px;
  }
}
.contacts__form-input {
  background-color: #010203;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  color: #fff;
  font-size: 14px;
  font-family: "SF Pro", sans-serif;
  line-height: 17px;
  padding: 20px 0;
}
@media (max-width: 620px) {
  .contacts__form-input {
    margin-bottom: 20px;
    padding: 15px 0;
  }
}
.contacts__form-input::-webkit-input-placeholder {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 17px;
}
.contacts__form-input::-moz-placeholder {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 17px;
}
.contacts__form-input:-ms-input-placeholder {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 17px;
}
.contacts__form-input::-ms-input-placeholder {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 17px;
}
.contacts__form-input::placeholder {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 17px;
}
.contacts__guarantees {
  width: 500px;
}
@media (max-width: 1170px) {
  .contacts__guarantees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .contacts__guarantees {
    width: 100%;
  }
}
.contacts__guarantees-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}
@media (max-width: 620px) {
  .contacts__guarantees-text {
    font-size: 18px;
    width: 300px;
  }
}
.contacts__guarantees-img {
  width: 100%;
}

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/footer-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding: 100px 0 150px 0;
}
@media (max-width: 780px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 620px) {
  .footer {
    padding: 30px 0;
  }
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 620px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__text {
  width: 165px;
  font-family: "Roboto", sans-serif;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 620px) {
  .footer__text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
}
.footer__text p + p {
  margin-top: 50px;
}
@media (max-width: 620px) {
  .footer__text p + p {
    margin-top: 0;
    margin-left: 10px;
  }
}
.footer__menu {
  margin: 0 100px 0 50px;
}
@media (max-width: 620px) {
  .footer__menu {
    margin: 20px 0;
  }
}
.footer__menu-link, .footer__links-link {
  color: inherit;
  font-family: "SF Pro", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.footer__menu-link:hover, .footer__links-link:hover {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer__menu-item, .footer__links-item {
  margin-bottom: 15px;
}
@media (max-width: 620px) {
  .footer__menu-item, .footer__links-item {
    text-align: center;
  }
}
